---
import Container from "../ui/Container.astro";
---

<footer class="border-t border-white/10 mt-16 py-10 text-white/60">
  <Container class="flex flex-col md:flex-row justify-between items-center gap-4 text-sm">
    
    <p>© {new Date().getFullYear()} Gabriel Vallejos.</p>

    <div class="flex gap-6">
      <a href="https://github.com/gabrielvarejous" target="_blank" rel="noreferrer" class="hover:text-white transition">Github</a>
      <a href="https://www.linkedin.com/in/moisés-vallejos-b162a326b/" target="_blank" rel="noreferrer" class="hover:text-white transition">LinkedIn</a>
    </div>

  </Container>
</footer>